<?xml version="1.0"?>
<config>
    <modules>
        <BookStore_SocialWidget>
            <version>0.0.1</version>
        </BookStore_SocialWidget>
    </modules>
    <global>
        <helpers>
            <socialwidget>
                <class>BookStore_SocialWidget_Helper</class>
            </socialwidget>
        </helpers>
        <blocks>
             <socialwidget>
                <class>BookStore_SocialWidget_Block</class>
             </socialwidget>
        </blocks>
     </global>
</config> 
