<?xml version="1.0" encoding="UTF-8"?>
<config>
  
  <modules>
  	<BookStore_ThemeOptions>
    	<version>0.0.1</version>
    </BookStore_ThemeOptions>
  </modules>
  
  <!-- define models and helpers -->
  <global>
    <models>
      <themeoptions>
        <class>BookStore_ThemeOptions_Model</class>
      </themeoptions>
    </models>
    <helpers>
      <themeoptions>
        <class>BookStore_ThemeOptions_Helper</class>
      </themeoptions>
    </helpers>
  </global>
  
    
  <!--  in order to avoid "404 and Permission Denied -->
  <adminhtml>
  
  
  <layout>
  <updates>
        <themeoptions>
        	<file>bookstore_themeoptions.xml</file>
        </themeoptions>
      </updates>
  </layout>
  <acl>
  
  	
      
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <bookstore>
                      <title>Bookstore - All</title>
                    </bookstore>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    
  </adminhtml>
  
   
  <!-- set default configurations -->
  <default>
    <themeoptions>
      <header>
        <menu_bg>CCCCCC</menu_bg>
      </header>
    </themeoptions>
  </default>

  
  
</config>
